@model Domain.Entities.App

<div class="row">
    <div class="col-4"><img class="img-fluid" src="@Model.Icon"/></div>
    <div class="col-8">
        <h1>@Model.Name</h1>
        <p>@Model.SubTitle</p>        
    </div>    
</div>

<br/>

<div class="row">

    <div class="col-6 col-md-4">
        <div id="carouselControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                @{
                    var active = "active";
                    foreach (var screenshot in Model.Screenshots)
                    {
                        <div class="carousel-item @active">
                            <img class="d-block img-fluid" src="@screenshot" alt="" />
                        </div>
                        active = "";
                    }
                }
            </div>
            <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <div class="col-6 col-md-4">        
        <table class="table">            
            <tbody>
                <tr>
                    <td>Position Overall</td>
                    <td>@Model.PositionOverall</td>
                </tr>                
                <tr>
                    <td>Ranking per category</td>
                    <td>@Model.RankingCategory</td>
                </tr>                
            </tbody>
        </table>
    </div>

</div>

<br />

<div class="row">
    <div class="well-lg">
        @Model.Description
    </div>
</div>

<br />
<br />
