@using Domain.Entities;
@model IEnumerable<Domain.Entities.App>


@*<form asp-action="Index" asp-controller="Home" method="get" onsubmit="myFunction()">

    <div class="input-group" data-toggle="buttons">

        <label class="btn btn-secondary active" style="margin-bottom: 0px; margin-right: 5px;">
            <input type="radio" name="rb_google_play" id="option3" autocomplete="off"> Google Play
        </label>

        <label class="btn btn-secondary" style="margin-bottom: 0px; margin-right: 10px;">
            <input type="radio" name="rb_apple" id="option3" autocomplete="off"> Apple
        </label>

        <input type="text" class="form-control" name="p" value="g">        
        <input type="text" class="form-control" name="q" value="whatsapp" placeholder="Search for...">
        <input type="text" class="form-control" name="c" value="us">

        <span class="input-group-btn">
            <button class="btn btn-secondary" type="submit">Go!</button>
        </span>
       
    </div>

</form>*@


<div class="input-group" data-toggle="buttons">

    <label class="btn btn-secondary active" style="margin-bottom: 0px; margin-right: 5px;" onclick="toggleMarketPlace('g');">
        <input type="radio" name="rb_google_play" id="option3" autocomplete="off"> Google Play
    </label>

    <label class="btn btn-secondary" style="margin-bottom: 0px; margin-right: 10px;" onclick="toggleMarketPlace('a');">
        <input type="radio" name="rb_apple" id="option3" autocomplete="off"> Apple
    </label>
    
    <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" id="mDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Country
        </a>

        <div id="mDropDownCountry" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" value="AF" href="#">Afghanistan</a>
            <a class="dropdown-item" value="AL" href="#">Albania</a>
            <a class="dropdown-item" value="DZ" href="#">Algeria</a>
            <a class="dropdown-item" value="AS" href="#">American Samoa</a>
            <a class="dropdown-item" value="AD" href="#">Andorra</a>
            <a class="dropdown-item" value="AO" href="#">Angola</a>
            <a class="dropdown-item" value="AI" href="#">Anguilla</a>
            <a class="dropdown-item" value="AQ" href="#">Antarctica</a>
            <a class="dropdown-item" value="AG" href="#">Antigua and Barbuda</a>
            <a class="dropdown-item" value="AR" href="#">Argentina</a>
            <a class="dropdown-item" value="AM" href="#">Armenia</a>
            <a class="dropdown-item" value="AW" href="#">Aruba</a>
            <a class="dropdown-item" value="AU" href="#">Australia</a>
            <a class="dropdown-item" value="AT" href="#">Austria</a>
            <a class="dropdown-item" value="AZ" href="#">Azerbaijan</a>
            <a class="dropdown-item" value="BS" href="#">Bahamas</a>
            <a class="dropdown-item" value="BZ" href="#">Belize</a>
            <a class="dropdown-item" value="BJ" href="#">Benin</a>
            <a class="dropdown-item" value="BM" href="#">Bermuda</a>
            <a class="dropdown-item" value="BT" href="#">Bhutan</a>
            <a class="dropdown-item" value="BO" href="#">Bolivia, Plurinational State of</a>
            <a class="dropdown-item" value="BQ" href="#">Bonaire, Sint Eustatius and Saba</a>
            <a class="dropdown-item" value="BA" href="#">Bosnia and Herzegovina</a>
            <a class="dropdown-item" value="BW" href="#">Botswana</a>
            <a class="dropdown-item" value="BV" href="#">Bouvet Island</a>
            <a class="dropdown-item" value="BR" href="#">Brazil</a>
            <a class="dropdown-item" value="IO" href="#">British Indian Ocean Territory</a>
            <a class="dropdown-item" value="BG" href="#">Bulgaria</a>
            <a class="dropdown-item" value="CM" href="#">Cameroon</a>
            <a class="dropdown-item" value="CA" href="#">Canada</a>
            <a class="dropdown-item" value="CV" href="#">Cape Verde</a>
            <a class="dropdown-item" value="KY" href="#">Cayman Islands</a>
            <a class="dropdown-item" value="CF" href="#">Central African Republic</a>
            <a class="dropdown-item" value="TD" href="#">Chad</a>
            <a class="dropdown-item" value="CL" href="#">Chile</a>
            <a class="dropdown-item" value="CN" href="#">China</a>
            <a class="dropdown-item" value="CX" href="#">Christmas Island</a>
            <a class="dropdown-item" value="CC" href="#">Cocos (Keeling) Islands</a>
            <a class="dropdown-item" value="CO" href="#">Colombia</a>
            <a class="dropdown-item" value="KM" href="#">Comoros</a>
            <a class="dropdown-item" value="HR" href="#">Croatia</a>
            <a class="dropdown-item" value="CU" href="#">Cuba</a>
            <a class="dropdown-item" value="CW" href="#">Curaçao</a>
            <a class="dropdown-item" value="CY" href="#">Cyprus</a>
            <a class="dropdown-item" value="CZ" href="#">Czech Republic</a>
            <a class="dropdown-item" value="DK" href="#">Denmark</a>
            <a class="dropdown-item" value="DJ" href="#">Djibouti</a>
            <a class="dropdown-item" value="DM" href="#">Dominica</a>
            <a class="dropdown-item" value="DO" href="#">Dominican Republic</a>
            <a class="dropdown-item" value="EC" href="#">Ecuador</a>
            <a class="dropdown-item" value="EG" href="#">Egypt</a>
            <a class="dropdown-item" value="SV" href="#">El Salvador</a>
            <a class="dropdown-item" value="GQ" href="#">Equatorial Guinea</a>
            <a class="dropdown-item" value="FR" href="#">France</a>
            <a class="dropdown-item" value="GF" href="#">French Guiana</a>
            <a class="dropdown-item" value="PF" href="#">French Polynesia</a>
            <a class="dropdown-item" value="TF" href="#">French Southern Territories</a>
            <a class="dropdown-item" value="GA" href="#">Gabon</a>
            <a class="dropdown-item" value="GM" href="#">Gambia</a>
            <a class="dropdown-item" value="GE" href="#">Georgia</a>
            <a class="dropdown-item" value="DE" href="#">Germany</a>
            <a class="dropdown-item" value="GW" href="#">Guinea-Bissau</a>
            <a class="dropdown-item" value="GY" href="#">Guyana</a>
            <a class="dropdown-item" value="HT" href="#">Haiti</a>
            <a class="dropdown-item" value="HM" href="#">Heard Island and McDonald Islands</a>
            <a class="dropdown-item" value="VA" href="#">Holy See (Vatican City State)</a>
            <a class="dropdown-item" value="HN" href="#">Honduras</a>
            <a class="dropdown-item" value="HK" href="#">Hong Kong</a>
            <a class="dropdown-item" value="HU" href="#">Hungary</a>
            <a class="dropdown-item" value="IS" href="#">Iceland</a>
            <a class="dropdown-item" value="IN" href="#">India</a>
            <a class="dropdown-item" value="ID" href="#">Indonesia</a>
            <a class="dropdown-item" value="IR" href="#">Iran, Islamic Republic of</a>
            <a class="dropdown-item" value="IQ" href="#">Iraq</a>
            <a class="dropdown-item" value="IE" href="#">Ireland</a>
            <a class="dropdown-item" value="IM" href="#">Isle of Man</a>
            <a class="dropdown-item" value="IL" href="#">Israel</a>
            <a class="dropdown-item" value="IT" href="#">Italy</a>
            <a class="dropdown-item" value="JM" href="#">Jamaica</a>
            <a class="dropdown-item" value="JP" href="#">Japan</a>
            <a class="dropdown-item" value="JE" href="#">Jersey</a>
            <a class="dropdown-item" value="JO" href="#">Jordan</a>
            <a class="dropdown-item" value="KZ" href="#">Kazakhstan</a>
            <a class="dropdown-item" value="KE" href="#">Kenya</a>
            <a class="dropdown-item" value="KI" href="#">Kiribati</a>
            <a class="dropdown-item" value="KP" href="#">Korea, Democratic People's Republic of</a>
            <a class="dropdown-item" value="KR" href="#">Korea, Republic of</a>
            <a class="dropdown-item" value="MX" href="#">Mexico</a>
            <a class="dropdown-item" value="FM" href="#">Micronesia, Federated States of</a>
            <a class="dropdown-item" value="MD" href="#">Moldova, Republic of</a>
            <a class="dropdown-item" value="MC" href="#">Monaco</a>
            <a class="dropdown-item" value="MN" href="#">Mongolia</a>
            <a class="dropdown-item" value="ME" href="#">Montenegro</a>
            <a class="dropdown-item" value="MS" href="#">Montserrat</a>
            <a class="dropdown-item" value="MA" href="#">Morocco</a>
            <a class="dropdown-item" value="MZ" href="#">Mozambique</a>
            <a class="dropdown-item" value="PY" href="#">Paraguay</a>
            <a class="dropdown-item" value="PE" href="#">Peru</a>
            <a class="dropdown-item" value="PH" href="#">Philippines</a>
            <a class="dropdown-item" value="PN" href="#">Pitcairn</a>
            <a class="dropdown-item" value="PL" href="#">Poland</a>
            <a class="dropdown-item" value="PT" href="#">Portugal</a>
            <a class="dropdown-item" value="PR" href="#">Puerto Rico</a>
            <a class="dropdown-item" value="QA" href="#">Qatar</a>
            <a class="dropdown-item" value="RE" href="#">Réunion</a>
            <a class="dropdown-item" value="RO" href="#">Romania</a>
            <a class="dropdown-item" value="RU" href="#">Russian Federation</a>
            <a class="dropdown-item" value="RW" href="#">Rwanda</a>
            <a class="dropdown-item" value="SC" href="#">Seychelles</a>
            <a class="dropdown-item" value="SL" href="#">Sierra Leone</a>
            <a class="dropdown-item" value="SG" href="#">Singapore</a>
            <a class="dropdown-item" value="SX" href="#">Sint Maarten (Dutch part)</a>
            <a class="dropdown-item" value="SK" href="#">Slovakia</a>
            <a class="dropdown-item" value="SI" href="#">Slovenia</a>
            <a class="dropdown-item" value="SB" href="#">Solomon Islands</a>
            <a class="dropdown-item" value="SO" href="#">Somalia</a>
            <a class="dropdown-item" value="ZA" href="#">South Africa</a>
            <a class="dropdown-item" value="SJ" href="#">Svalbard and Jan Mayen</a>
            <a class="dropdown-item" value="SZ" href="#">Swaziland</a>
            <a class="dropdown-item" value="TT" href="#">Trinidad and Tobago</a>
            <a class="dropdown-item" value="TN" href="#">Tunisia</a>
            <a class="dropdown-item" value="TR" href="#">Turkey</a>
            <a class="dropdown-item" value="AE" href="#">United Arab Emirates</a>
            <a class="dropdown-item" value="GB" href="#">United Kingdom</a>
            <a class="dropdown-item" value="US" href="#">United States</a>
            <a class="dropdown-item" value="UY" href="#">Uruguay</a>
            <a class="dropdown-item" value="VE" href="#">Venezuela, Bolivarian Republic of</a>

        </div>
    </div>
        
    <input id="txt_search" type="text" class="form-control" name="q" value="whatsapp" placeholder="Search for...">

    <input type="text" class="form-control" name="c" value="us">

    <span class="input-group-btn">
        <button class="btn btn-secondary" onclick="onSearch();">Go!</button>
    </span>


</div>



<br />

<div class="row">

    @{
        if (Model != null)
        {
            foreach (var item in Model)
            {
                <div class="col-md-4">
                    <img class="rounded-circle" src="@Html.DisplayFor(modelItem => item.Icon)" alt="Generic placeholder image" width="140" height="140">
                    <h2>@Html.DisplayFor(modelItem => item.Name)</h2>
                    <p style="margin-bottom: 0px;">@Html.DisplayFor(modelItem => item.SubTitle)  @Html.DisplayFor(modelItem => item.Rating)</p>                    
                    <small style="margin-bottom: 10px; margin-top: 0px;">
                        @Html.DisplayFor(modelItem => item.ReducedDescription) 
                    </small>
                    @if (@Html.DisplayFor(modelItem => item.ReducedDescription).ToString() != string.Empty) { 
                        <br />
                    }
                    <p style="margin-top: 10px;"><a class="btn btn-secondary" onclick="onSearchDetails('@Html.DisplayFor(modelItem => item.Package)');" role="button">View details &raquo;</a></p>
                </div>                
            }
        }
    }
    
</div>

<script>

    var p = "g";
    var c = "us";
    
    function toggleMarketPlace(data) {
        p = data;
    }

    function toggleCountry(data) {
        c = data;
    }

    function onSearch() {         
        var element = document.getElementById('txt_search');
        location.href = '?p=' + p + '&q=' + element.value + '&c=' + c;
    }
    
    function onSearchDetails(data) {
        location.href = 'Home/Details?p=' + p + '&q=' + data + '&c=' + c;
    }

    document.getElementById("txt_search")
        .addEventListener("keyup", function (event) {
            event.preventDefault();
            if (event.keyCode == 13) {
                onSearch();
            }
        });

    $('#mDropDownCountry a').on('click', function () {
        alert($(this).text());
    });

</script>
