@model IEnumerable<Domain.Entities.App>



@*@foreach (var item in Model)
    {
        <li class="mdl-list__item mdl-list__item--three-line demo-card-wide mdl-card mdl-shadow--2dp mdl-color--white mdl-cell--12-col listagem" style=" padding-top: 0px; margin-bottom: 5px; margin-top: 5px; padding-bottom: 0px;  height: 105%;" onclick="location.href ='index.html'">
            <label class="mdl-list__item-primary-content">
                <img src="@Html.DisplayFor(modelItem => item.Icon)" style="width: 35px;height: 35px;" />
                <label>@Html.DisplayFor(modelItem => item.Name)</label>
                <label class="mdl-list__item-text-body">

                </label>
            </label>
            <label class="mdl-list__item-secondary-content" style="color: #37474f;">
                @Html.DisplayFor(modelItem => item.Rating)<i class="material-icons">star</i>
            </label>
        </li>
    }*@


@{
    if (Model != null)
    {

        foreach (var item in Model)
        {
            <div class="mdl-cell mdl-cell--12-col mdl-grid">
                <ul class="mdl-list mdl-cell mdl-cell--12-col">
                    <li class="mdl-list__item mdl-list__item--three-line demo-card-wide mdl-card mdl-shadow--2dp mdl-color--white mdl-cell--12-col listagem" style=" padding-top: 0px; margin-bottom: 5px; margin-top: 5px; padding-bottom: 0px;  height: 105%;" onclick="location.href ='index.html'">
                        <label class="mdl-list__item-primary-content">
                            <img src="@Html.DisplayFor(modelItem => item.Icon)" style="width: 35px;height: 35px;" />
                            <label>@Html.DisplayFor(modelItem => item.Name)</label>
                            <label class="mdl-list__item-text-body">

                            </label>
                        </label>
                        <label class="mdl-list__item-secondary-content" style="color: #37474f;">
                            @Html.DisplayFor(modelItem => item.Rating)<i class="material-icons">star</i>
                        </label>
                    </li>
                </ul>
            </div>
        }

    }
}

