@using Domain.Entities;
@model IEnumerable<Domain.Entities.App>


@*<div class="card-deck">
    @{ 
        if (Model != null) {
            foreach (var item in Model) {
                <div class="card z-depth-5" style="width: auto; height: 200px; margin-bottom: 15px;">
                    <img class="card-img-top rounded-circle" style=" width: 100px; height: auto ; align-self: center" 
                         src="@Html.DisplayFor(modelItem => item.Icon)" alt="">
                    <div class="card-block" style="padding: 5px;">
                        <div class="clearfix">
                            <p class="float-left">@Html.DisplayFor(modelItem => item.ReducedName)</p>
                            <p class="float-right"> @Html.DisplayFor(modelItem => item.Rating)</p>
                        </div>                       
                    </div>               
                </div>
            }
        }
    }
</div>*@

<div class="list-group">
    @{
        if (Model != null)
        {
            foreach (var item in Model)
            {
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">                                        
                    <div class="d-flex w-100 justify-content-between">
                        <div class="clearfix">
                            <img class="rounded float-left" style=" width: 100px; height: auto ; margin-bottom: 10px;"
                                 src="@Html.DisplayFor(modelItem => item.Icon)" alt="" />
                            
                            <h5 class="mb-1">@Html.DisplayFor(modelItem => item.Name)</h5>                        
                        </div>                        
                        <h1>@Html.DisplayFor(modelItem => item.Rating)</h1>
                    </div>
                    <p class="mb-1">@Html.DisplayFor(modelItem => item.SubTitle)</p>
                    <small>@Html.DisplayFor(modelItem => item.Description)</small>
                </a>            
            }
        }
    }
</div>
